<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="2024-12">
    <locations>
      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
        <repository location="https://download.eclipse.org/releases/2024-12"/>
        <unit id="org.eclipse.jdt.feature.group" version="3.20.0.v20241120-1800"/>
        <unit id="org.eclipse.platform.feature.group" version="4.34.0.v20241120-1800"/>
        <unit id="org.eclipse.rcp.feature.group" version="4.34.0.v20241120-1800"/>
      </location>
      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
        <repository location="http://download.eclipse.org/technology/swtbot/releases/4.2.0/"/>
        <unit id="org.eclipse.swtbot.eclipse.feature.group" version="4.2.0.202405291350"/>
        <unit id="org.slf4j.api" version="1.7.30.v20221112-0806"/>
      </location>
    </locations>
</target>